# Remove or comment out Abridge-specific entries
# node_modules/
# package-lock.json
# public/
# static/js/
# static/css/

# Keep these entries
public/
.DS_Store
.idea/

# Allow theme submodules but ignore other theme content
themes/*
!themes/zola-inky/
build
storage
static/demo.html
static/tinysearch_engine.js
static/tinysearch_engine.d.ts
static/tinysearch_engine_bg.wasm.d.ts
static/package.json
static/js/pagefind.js
static/js/pagefind-*.js
static/js/pagefind-*.css
static/js/pagefind.*.pf_meta
static/js/index
static/js/fragment
