{%- if caption -%}
<figure>
{%- endif -%}

{%- if sources -%}
    <picture>
        {%- for src in sources -%}
            {%- set type = src | split(pat=".") | last -%}
            <source srcset="{{ src }}" type="image/{{ type }}">
        {%- endfor -%}
        <img src="{{ src }}" 
             {%- if alt %}alt="{{ alt }}"{% endif %}
             {%- if class %}class="{{ class }}"{% endif %}>
    </picture>
{%- else -%}
    <img src="{{ src }}" 
         {%- if alt %}alt="{{ alt }}"{% endif %}
         {%- if class %}class="{{ class }}"{% endif %}>
{%- endif -%}

{%- if caption -%}
    <figcaption>{{ caption }}</figcaption>
</figure>
{%- endif -%}